.logo{
	animation-name: comming;
	-webkit-animation: comming 2s ease;
	-0-animation: comming 2s ease;
	animation: comming 2s ease;
}

@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.menu li{
	animation-name: mymove;
	-webkit-animation: mymove 1s forwards; 
	-0-animation: mymove 1s forwards;
	animation: mymove 1s forwards;
	-webkit-animation-delay: mymove 2.5s forwards;
	-0-animation-delay: mymove 2.5s forwards;
	animation-delay: mymove 2.5s forwards;
}

@keyframes mymove{
	from{
		opacity: 0;
		margin-left: 200px;
	}
	to{
		opacity: 432px;
	}
}

.menu li:nth-child(2) {
	animation-delay: 0.4s;
}

.menu li:nth-child(3) {
	animation-delay: 0.8s;
}

.menu li:nth-child(4) {
	animation-delay: 1.2s;
}

.menu li:nth-child(5) {
	animation-delay: 1.6s;
}

.menu li:nth-child(6) {
	animation-delay: 2s;
}

.menu li a{
	color: white;
	display: inline-block;
	transition: all 0.1s;
}

.menu li a:visited{
	color: white;
}

.menu li a:hover{
	color: #e98706;
}

.menu li a:active{
	transform: scale(1.1);
}

.title__container{
	animation-name: titlemove;
	opacity: 0;
	-webkit-animation: titlemove 1s ease forwards;
	-0-animation: titlemove 1s ease forwards;
	animation: titlemove 1s ease forwards;
	-webkit-animation-delay: titlemove 2.4s;
	-0-animation-delay: titlemove 2.4s ease forwards;
	animation-delay: titlemove 2.4s ease forwards;
}

@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: 500px;
	}
	to{
		opacity: 1;
		margin-left: 404px;
	}
}

.title__container input{
	transition: all 0.2s;
	transform: scale(1);
}

.title__container input:hover{
	color: white;
	background: #144051;
}

.title__container input:active{
	transform: scale(1.1);
}

.main_2 h2{
	animation-name: myanim;
	opacity: 0;
	-webkit-animation: myanim 1.5s ease forwards;
	-0-animation: myanim 1.5s ease forwards;
	animation: myanim 1.5s ease forwards;
}

.main_2 img{
	animation-name: myanime;
	opacity: 0;
	-webkit-animation: myanime 1.5s ease forwards;
	-0-animation: myanime 1.5s ease forwards;
	animation: myanime 1.5s ease forwards;
}


@keyframes myanim{
	from{
		opacity: 0;
		margin-left: 500px;	
	}

	to{
		opacity: 1;
		margin-left: 900px;
	}
}

@keyframes myanime{
	from{
		opacity: 0;
		margin-left: 500px;	
	}

	to{
		opacity: 1;
		margin-left: 915px;
	}
}

.main_2_1{
	animation-name: bubble;
	opacity: 0;
	-webkit-animation: bubble 2s ease forwards;
	-0-animation: bubble 2s ease forwards;
	animation: bubble 2s ease forwards;
	-webkit-animation display: bubble 2.5s ease forwards;
	-0-animation display: bubble 2.5s ease forwards;
	animation display: bubble 2.5s ease forwards;
}

@keyframes bubble{
	from{
		opacity: 0;
		margin-left: 0px;
	}

	to{
		opacity: 1;
		margin-left: 200px;
	}
}

.main_2_1 {
	transition: all 0.2s;
	transform: scale(1);
}

.main_2_1 a:hover{
	color: white;	
	background: #144051;
}

.main_2_1 a:active{
	transform: scale(1.1);
}

.main_2_2 input{
	animation-name: resize;
	opacity: 0;
	-webkit-animation: resize 1s ease forwards;
	-0-animation: resize 1s ease forwards;
	animation: resize 1s ease forwards;
	-webkit-animation-delay: resize 2.4s;
	-0-animation-delay: resize 2.4s;
	animation-delay: resize 2.4s;
}	

@keyframes resize{
	from{
		opacity: 0;
		margin-left: 1000px;
	}
	to{
		opacity: 1;
		margin-left: 890px;
	}
}

.main_2_2 input{
	transition: all 0.2s;
	transform: scale(1);
}

.main_2_2 input:hover{
	background: #144051;
	color: white;
}

.main_2_2 input:active{
	transform: scale(1.1);
}

.main_3 h2{
	animation-name: fadeln;
	opacity: 0;
	-webkit-animation: fadeln 1s forwards;
	-0-animation: fadeln 1s forwards;
	animation: fadeln 1s forwards;
	-webkit-animation-delay: fadeln .5s forwards;
	-0-animation-delay: fadeln .5s forwards;
	animation-delay: fadeln .5s forwards;
}

.main_3 img{
	animation-name: fadelne;
	opacity: 0;
	-webkit-animation: fadelne 1.5s forwards;
	-0-animation: fadelne 1.5s forwards;
	animation: fadelne 1.5s forwards;
}

@keyframes fadeln{
	from{
		opacity: 0;
		margin-right: 0px;
	}
	
	to{
		opacity: 1;
		margin-left: 870px;
	}
}

@keyframes fadelne{
	from{
		opacity: 0;
		margin-right: 0px;	
	}

	to{
		opacity: 1;
		margin-left: 910px;
	}
}
