body{
	font-family: Arial, sans-serif;
}

nav{
	width: 100%;
	height: 60px;
	background: #344051;
}

.logo{
	color: white;
	font-size: 28px;
	line-height: 60px;
	padding-left: 388px;
	float: left;
}

.menu{
	padding-left: 432px;
	float: left;
}

.menu li{
	float: left;
	line-height: 60px;
	color: white;
	font-size: 16px;
	margin-right: 40px;
	text-transform: uppercase;
}

.main_1 {
	width: 100%;
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;
	height: calc(100% - 60px);
}

.title__container {
	float: left;
	margin: 432px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
}

.title__container h1{ 
	font-size: 60px;	
	font-weight: bold;
}

.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 50px 28px 0px 14px;
}

.main_2 h2{
	margin: 40px 870px 0px 850px;
	text-align: center;
	font-size: 22px;
	margin-bottom: 30px;
	color: #263244;
}

.main_2 img{
	width: 80px;
	height: 3px;
	margin-left: 900px;
	margin-right: 920px;
	margin-bottom: 50px;
}

.main_2_1 img {
	width: 150px;
	height: 150px;
	margin-left: 870px;
	margin-right: 870px;
	border-radius: 50px;
}

.main_2_1 p{
	margin-top: 40px;
	margin-left: 300px;
	margin-right: 300px;
	font-size: 15px;
	text-align: left;
	color: #3f495a;
}

.main_2_2 input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 25px;
	margin: 50px 28px 0px 14px;
	margin-left: 890px;
}	

.main_2_2 img{
	margin: 62px 28px 0px -175px;
	height: 15px;
	width: 15px;
}

.main_3 {
	width: 100%;
	background: url(../img/fon.jpg) center/cover no-repeat;
	height: calc(100% - 500px);
}

.main_3 h2{
	margin: 40px 830px 30px 870px;
	text-align: center;
	font-size: 22px;
	color: #263244;
}

.main_3 img{
	width: 100px;
	height: 3px;
	margin-left: 920px;
	margin-right: 920px;
}

.main_3_1 {
	float: left;
	width: 200px;
}

.main_3_1 img{
	width: 70px;
	height: 40px;
	margin: 80px 0px 30px 350px;
}

.main_3_1 h3{
	width: 270px;
	height: 20px;
	font-size: 20px;
	margin: 0px 0px 30px 300px;
	color: #cf7600;
}

.main_3_1 p{
	width: 270px;
	height: 50px;
	text-align: center;
	font-size: 15px;
	margin: 0px 0px 30px 250px;
	color: #3f495a;
}

.main_3_2 {
	float: left;
	width: 200px;
}

.main_3_2 img{
	width: 70px;
	height: 40px;
	margin: 80px 0px 30px 500px;

}

.main_3_2 h3{
	width: 180px;
	height: 20px;
	text-align: center;
	font-size: 20px;
	margin: 0px 0px 30px 450px;
	color: #cf7600;
}

.main_3_2 p{
	width: 270px;
	height: 50px;
	text-align: center;
	font-size: 15px;
	margin: 0px 0px 30px 400px;
	color: #3f495a;
}

.main_3_3 {
	float: left;
	width: 200px;
}


.main_3_3 img{
	width: 70px;
	height: 40px;
	margin: 80px 0px 30px 665px;

}

.main_3_3 h3{
	width: 270px;
	height: 20px;
	font-size: 20px;
	margin: 0px 0px 30px 610px;
	color: #cf7600;
}

.main_3_3 p{
	width: 270px;
	height: 50px;
	text-align: center;
	font-size: 15px;
	margin: 0px 0px 30px 565px;
	color: #3f495a;
}

.main_3_4 {
	float: left;
	width: 200px;
}

.main_3_4 img{
	width: 70px;
	height: 40px;
	margin: 80px 0px 30px 820px;
}


.main_3_4 h3{
	width: 180px;
	height: 20px;
	font-size: 20px;
	margin: 0px 0px 30px 800px;
	color: #cf7600;
}

.main_3_4 p{
	width: 270px;
	height: 50px;
	text-align: center;
	font-size: 15px;
	margin: 0px 0px 30px 730px;
	color: #3f495a;
}

.main_4 h2{
 	margin: 40px 830px 0px 890px;
	text-align: center;
	font-size: 22px;
	margin-bottom: 30px;
	color: #263244;
}

.main_4 img{
	width: 80px;
	height: 3px;
	margin: -30px 850px 0px 940px;
}

.main_4 p{
	margin-top: 30px;
	font-size: 15px;
	text-align: center;
	color: #626976; 
}

.main_4_1 img{
	width: 1150px;
	height: 600px;
	margin-left: 390px;
	margin-right: 350px;
	margin-top: 30px;
}

.main_4_2 {
	float: left;
}

.main_4_2 h3{
	margin: 30px 0px 0px 700px;
	font-size: 19px;
	color: #384354;
}

.main_4_2 p{
	width: 800px;
	height: 60px;
	margin: 10px 0px 0px 700px;
	font-size: 15px;
	color: #384354;
}

.main_4_3 h3{
	margin: 20px 0px 0px 100px; 
	font-size: 19px;
	color: #384354;
}

.main_4_3 p{
	margin: 10px 0px 0px 110px; 
	font-size: 15px;
	color: #525a69;
}

.main_4_3 input{
	width: 150px;
	height: 40px;
	text-align: center;
	border: 2px solid #63b5ae;
	background: none;
	border-radius: 5px;
	color: #63b5ae;
	font-size: 13px;
	padding: 0px 25px;
	margin: 30px 28px 0px 100px;
}




